.container {
  background-color: #DAC5C5;
}

.btn {
  margin: 30px;
  width: 10%;
  color: white;
  background-color: #AA5151;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: #706D6E;
  }
}